/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-font-primary: #fff;
    --color-accent: #ed1c24;

    --color-button-hover : #990006;

    --color-bg-primary: #201918;
    --color-bg-secondary: #352f2e;
    
}
