/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: azo-sans-web, sans-serif;

    --font-size-content: 1.125rem;

    /// Grosseur des textes
    --font-size-h1: 3rem; // 48px
    --font-size-h2: 2.625rem; // 42px
    --font-size-h3: 2.25rem; // 36px
    --font-size-h4: 1.5rem; // 24px

    --font-size-buttons: 1rem; // 16px
    --font-size-nav: 1rem; // 16px
    --font-size-menu-titles: 1.5rem; //24px

    --font-size-footer: 1.25rem; // 20px
    --font-size-copyright: 0.75rem; // 12px

    --font-size-menu-grid: 1.625rem; //26px
}
